/* general rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* top  */
#top {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    float: right;
    margin: 15px 20px;
}

#speaker_view , #full_screen {
  float: left;
  background-color: rgba(54,54,54,255);
  border-radius: 5px;
  padding: 5px 8px;
}

#speaker_view {
  margin-right: 5px;
}

#top #speaker_view .fas {
  margin-right: 8px;
}

#top a {
  text-decoration: none;
  color: white;
} 


/* main part  */
main {
    height: calc(100vh - 140px);
    background-color:thistle;
}

.main_content {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    height: 100%;
    /* padding: 100px 0; */ 
} 

.main_content .side {
    background-color:chocolate;
    padding: 0 20px;
}

.main_content .side .fas {
    font-size: 85px;
}

.main_content .side .fas.grey {
    color: rgba(127,127,127,255);
}

.main_content .side .fas.blue {
    color: rgba(46,186,255,255);
}


#participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.person {
    width: 250px;
    height: 150px;
    margin-left: 5px;
    background-color: blueviolet;
    border:1px solid black;
    position: relative;
}

.person .name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(62,69,73,255);
    padding: 4px;
}

/* .person img {
    width: 100%;
    object-fit: cover;
}   */


/* footer  */
footer {
    height: 80px;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: rgba(32,34,35,255);
}

#nav_left {
    /* width: 200px; */
    /* height: 70px; */
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}

#nav_center {
    /* width: 600px; */
    /* height: 70px;
    background-color:brown; */
    display: flex;
    align-items: center;
}

#nav_right {
    /* width: 100px; */
    /* height: 70px;
    background-color:burlywood; */
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgba(73,74,75,255);
    text-align: center;
    color: black;
    padding: 0 15px;
    color: rgba(168,78,74,255);
}

.icon {
    /* width: 40px;
    height: 70px;
    background-color:coral; */
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.icon .content > .fas , .far {
    color: white;
    font-size: 30px;
}

.icon .content > .fas.green {
    color: rgba(75,200,0,255);
}

.content + i {
    color: white;
    margin-left: 5px;
    font-size: 20px;
}

.icon .content {
    text-align: center;
}

.icon span {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: bold;
}


